ASSIGNMENT 1                                           


Sri Vishodhan

TASK 1

In [2]:
import pandas as pd
import numpy as np

In [7]:
d={'Name':["Emily","Michael","Jessica","Christopher","Sarah","Daniel","Ashley","Matthew","Amanda","Joshua"],'Age': [25, 32, 28, 45, np.nan, 22, 29, 38, 27, 40],'Gender':["F","M","F","M","F","M","F","M","F","M"],'ID':[12,33,1,22,6,4,2,111,45,99],'Salary':[10000,5000,15000,12999,9000,90000,13566,10000,50000,10000]}
df=pd.DataFrame(d)
df

          Name   Age Gender   ID  Salary
0        Emily  25.0      F   12   10000
1      Michael  32.0      M   33    5000
2      Jessica  28.0      F    1   15000
3  Christopher  45.0      M   22   12999
4        Sarah   NaN      F    6    9000
5       Daniel  22.0      M    4   90000
6       Ashley  29.0      F    2   13566
7      Matthew  38.0      M  111   10000
8       Amanda  27.0      F   45   50000
9       Joshua  40.0      M   99   10000

TASK 2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     9 non-null      float64
 2   Gender  10 non-null     object
 3   ID      10 non-null     int64
 4   Salary  10 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes

TASK 3

In [9]:
df.describe()

             Age          ID        Salary
count   9.000000   10.000000     10.000000
mean   31.777778   33.500000  22556.500000
std     7.644897   40.412457  26866.032735
min    22.000000    1.000000   5000.000000
25%    27.000000    4.500000  10000.000000
50%    29.000000   17.000000  11499.500000
75%    38.000000   42.000000  14641.500000
max    45.000000  111.000000  90000.000000

TASK 4

In [14]:
df.loc[4]

Name      Sarah
Age         NaN
Gender        F
ID            6
Salary     9000
Name: 4, dtype: object

TASK 5

In [12]:
df.isnull().any()

Name      False
Age        True
Gender    False
ID        False
Salary    False
dtype: bool

In [13]:
df.isnull().sum()

Name      0
Age       1
Gender    0
ID        0
Salary    0
dtype: int64